<my-template title="carousel" [lib]="lib">
    <div class="example">
    <ngz-carousel autoPlay="right" interval="4000">
        <ngz-carousel-item src="https://b2-q.mafengwo.net/s7/M00/36/F5/wKgB6lQjfouAM3xnAARP5O3eMks50.jpeg?imageView2%2F2%2Fw%2F600%2Fq%2F90">
            <div class="carousel-item-header color-wt">
                <h3><kbd class="b-w">ngz Carousel</kbd></h3>
                <p>carousel-item-header</p>
            </div>
        </ngz-carousel-item>
        <ngz-carousel-item src="https://b4-q.mafengwo.net/s7/M00/37/27/wKgB6lQjfqGAaNAMAAZF99m5lp890.jpeg?imageView2%2F2%2Fw%2F600%2Fq%2F90"></ngz-carousel-item>
        <ngz-carousel-item src="http://desk.fd.zol-img.com.cn/t_s1280x800c5/g5/M00/0B/0F/ChMkJllpyouId-peAA7Az6VGosUAAerLgGG56IADsDn554.jpg"></ngz-carousel-item>
    </ngz-carousel>
    </div>
    <div class="example-footer">
        <div class="quote">
            支持滑动
        </div>
    </div>
    <div class="API">
         <my-api [lib]="lib.api"></my-api>
    </div>
</my-template>