<h4>Btn</h4>
<div class="mb-1" *ngFor="let size of btnSize">
    <div class="m-1">
        <button [ngClass]="{'btn-sm':size=='sm','btn-lg':size=='lg'}" *ngFor="let i of _main.allColors" class="btn0 btn-o-{{i}} m-1">btn-{{i}}</button>
    </div>
    <div class="m-1">
        <button [ngClass]="{'btn-sm':size=='sm','btn-lg':size=='lg'}" class="btn btn-{{i}} mx-1" *ngFor="let i of _main.allColors">
            btn-{{i}}
        </button>
    </div>
</div>
<h4 class="quote-sign">btn-group</h4>
<br>
<div class="btn-group m-1">
    <button (click)="select1=i" [class.active]="select1==i" class="btn0 btn-o-{{i}}" *ngFor="let i of _main.allColors">{{i}}</button>
</div>
<div class="btn-group m-1">
    <button (click)="select2=i" [class.active]="select2==i" class="btn btn-d" *ngFor="let i of _main.allColors">{{i}}</button>
</div>
<br>
<h4 class="quote-sign">btn-group-vertical</h4>
<div class="btn-group-block">
    <button class="btn btn-p">1</button>
    <button class="btn btn-p">2</button>
    <button class="btn btn-p">3</button>
</div>