<my-template [lib]="lib" title0="tooltip" main="<div ngz-tooltip=''>">
    <div class="example p-2">
        <h4 >插入string</h4>
        <p class="center">
            <button class="m-1 btn btn-w" *ngFor="let i of posArr" ngz-tooltip="{{i}}" [placement]="i">{{i}}</button>
        </p>
        <h4>插入template</h4>
        <p class="center">
            <button [ngz-tooltip]="tp1" class="m-1 btn btn-p">TP tooltip</button>
            <ng-template #tp1>
                I am a <kbd>Template</kbd>
            </ng-template>
            <button pure="true" [ngz-tooltip]="tp2" class="m-1 btn0 btn-s">Pure TP tooltip</button>
            <ng-template #tp2>
                <div class="color-d"> pure Tooltip</div>
            </ng-template>
        </p>
        <h4>自定义animate</h4>
        <p class="center">
            <button [showStyle]="{transform:'translateY(0)',opacity:1}"
                    [hidStyle]="{transform:'translateY(-100%)',opacity:0}"
                    class="btn0 btn-o-p" ngz-tooltip="customize animate">
                customize animate
            </button>
        </p>
    </div>
    <div class="API">
        <h3>Glob animate</h3>
        <p class="quote">
            设置一个全局的tooltip动画,如下例:
        </p>
        <my-code [js]="globCode"></my-code>
    </div>
</my-template>