$table-space:.3rem;
$tdPadding:$tr-padding-y $tr-indent-space;
%z-hLight-table0{
  padding:$table-space;
  font-size:$font-size;
  font-family:$comment-family;
  word-spacing: $word-spacing;
  line-height: $line-height;
  width:100%;
  &.stripe tr:nth-child(odd){
    background:$stripe-color;
  }
}


.z-hLight-table{
  @extend %z-hLight-table0;
  & td{
    padding:$tdPadding;
  }
}
.z-hLight-table-list{
  @extend %z-hLight-table0;
  & tr td:nth-child(2){
    padding:$tdPadding;
  }
  & tr td:first-of-type{
    text-align:center;
    width:2rem;
    font-family:$list-family !important;
    font-size:.8rem !important;
    font-style:normal !important;
    color:$list-color !important;
  }
}