.hid{
  visibility:hidden;
  top:0;
  left:0;
}
.show{
  visibility:visible !important;
}
.close{
  cursor:pointer;
  float:right;
  line-height:70%;
  margin:0 $base-space;
  font-size:$close-size;
  font-weight: bold;
  @include transition(all .1s ease-in);
  @include fontHover($close-size);
}
.animateNode{
  @include transition()
}
.moveNode{
  position:absolute;
  left:0;
  top:0;
  display:inline-block;
}
.noSelect{
  @include prefix(user-select,none);
}
.rotate45{
  display:inline-block;
  transform:rotate(90deg);
}
.article{
  text-indent:$article-indent;
}
