@each $abbrev,$color in $theme-colors2{
  .bg-#{$abbrev}{
    background-color:$color;
    @include color-yiq($color);
  };
  .color-#{$abbrev}{color:$color};
  .border-#{$abbrev}{border-color:$color !important};
  .-hover-#{$abbrev}{
    cursor:pointer;
    @include emptyBg-hover-focus($color:$color,$p1:.3,$p2:.6);
  }
}
.color-wt{color:white};
.color-muted{color:gray};
.border-null{
  border-color:transparent;
}
.-hover{
  cursor:pointer;
  &:hover{
    @include hover-darken($l,1%);
  }
}