*{
  box-sizing:border-box;
}

body{
  position:relative;
  overflow-x:hidden;
  font-family:$glob-font;
}

hr{
  @include hrStyle();
}
i{
  margin:0 $icon-tag-margin;
 
}
.inverse{
  background:lighten($effectColor,$inverse-percent) !important;
  color:$light-color !important;
  border-color:darken($light-color,$inverse-percent) !important;
}
