
.form-c{
  outline:none;
  display:block;
  background:transparent;
  flex:1;
  @include space(x,$form-control-px);
  height:$form-control-height;
  @include space(top,$form-control-px);
  @include inputBorder();
  @include place-holder();
  margin:0 $form-control-mx;
  width:90%;
  width:calc(100% - #{$form-control-mx*2});
  @include transition();
  &:focus{
   @include input-focusBorder();
  };
}
@each $abbrev,$color in $theme-colors{
  .control-#{$abbrev}{
    @include variousInput($color);
  }
}

.input-group{
  display:flex;
  @include wrapFlex();
  &>*{
    @extend .center;
    vertical-align:bottom;
  }
}