.nav{
  @include get-nav()
}
.smNav{
  @include get-nav(sm)
}
.lgNav{
  @include get-nav(lg);
}

.nav-item{
  @extend .center;
  @extend %button;
  @include radius(0);
  font-size:1rem;
  background:transparent;
  &:hover{
    @include hover-focus();
  }
  &.active{
   @include hover-focus($effectColor,.1);
  }
}
.nav-container-right{
  @include absPos(top,right,0);
  height:100%;
  margin-right:$base-space*2;
  display:block;
  @extend .center;
}
.nav-brand{
  @extend .center;
}
.nav-inverse{
  background:$default-color;
  color:$light-color !important;
  & .nav-item{
    color:$light-color !important;
  }
}
.nav-shd{
  @include nav-shd();
}
.nav-fixed{
  background:$light-color;
  color:$deep-default-color;
  border-bottom:1px solid $l;

}
