

@mixin place-holder{
  $libs:placeholder,-webkit-placeholder;
  @each $lib in $libs{
    &::#{$lib}{
      @include transition();
      display:inline-block;
    }
    &:focus::#{$lib}{
      transform: scale(0.7,0.7) translateY(-100%);
    }
  }
}
@mixin inputImage($color){
  border-image:linear-gradient(to right,lighten($color,30%) 10%,sub-color($color),lighten($color,30%) 90% ) 5%;

}
@mixin inputBorder($color:$form-control-default-color){
  border-width:0;
  border-color:transparent;
  border-bottom-color:$color;
  border-bottom-width:$form-control-border-width;
  border-style:solid;
  @include inputImage($color);
}
@mixin input-focusBorder(){
  border-image-slice:40%;
  border-image-outset:0px $form-control-px;
}
@mixin variousInput($color){
  $libs:placeholder,-webkit-placeholder;
  @include inputImage($color);
  @each $lib in $libs{
    &::#{$lib}{
      color:$color;
    }
  }
}