
@mixin fix-block($w:100%,$h:100%,$top:0,$left:0,$pos:fixed){
  position:$pos;
  height:$h;
  width:$w;
  top:$top;
  left:$left;
  overflow-y:auto;
  overflow-x:hidden;
}
@mixin fix-child($margin:auto){
  margin:$margin;
  top:$modal-top;
  width:$modal-sm-width;
  min-height:$modal-min-height;
}
