<ngz-scroll baseLine="60" [(ngModel)]="scrollValue">
<nav [ngClass]="(bgState=='down'||navSide.isOpen)?'nav-fixed':''" class="bg-dp nav fix-top">
    <a zIndex="999" top="60" width="200" #navSide="ngz-navSide" [ngz-navSide]="_main.navTp" #navSide="ngz-navSide">
    </a>
    <a *ngIf="_main._res.value=='sm'&&useSide" (click)="navSide.toggle()" class=" nav-item">
        <i class="fa fa-navicon"></i>
    </a>
    <span *ngIf="bgState!='down';else brand2" class="nav-brand an_left_entry  gt-sm-show">
        <a class="nav-icon">ZTW</a>
    </span>
    <ng-template #brand2>
        <span class="nav-brand an_right_entry gt-sm-show">
            <a class="b-l">ZTW</a>
        </span>
    </ng-template>
    <span routerLink=""  class=" nav-item bold">Home</span>
    <span routerLink="css" routerLinkActive="active" class="btn bold nav-item">Css</span>
    <span routerLink="module" routerLinkActive="active" class="btn bold nav-item">ngzModule</span>
    <span class="gt-sm-show an_left_entry nav-container-right">
        <a (click)="linkGit()" [ngClass]="bgState=='down'?'btn-l':'btn-p'" class="btn"><i class="lg fa fa-github"></i>
        Github
        </a>
    </span>
</nav>
<div class="showBg mb-3 center" ngz-scroll-item="navBg" useEntry="true" (entry)="bgState=$event">
    <div class="gt-md-show flex">
        <img src="ng-ztw/assets/angular.svg" class="bg-brand an_left_entry ">
        <div class="center lg bold" style="width:50px">
            <a class="b-p"> AND</a>
        </div>
    </div>

    <img src="ng-ztw/assets/brand.svg" class="bg-brand">
</div>
</ngz-scroll>
<div class="row host-container" style="min-height:1200px">

    <div class="col-auto col-10">
        <router-outlet (activate)="routerActivate($event)"></router-outlet>
    </div>
    <ng-template [ngIf]="useSide">
        <div class="col-2" *ngz-col-show="'lg'">
        </div>
    </ng-template>
</div>
<footer class="footer mt-4 flex-end">
    <aside>
        <dt><strong class="lg">ng-ztw</strong></dt>
        <dd>
           <p>Author: <cite>zhantewei</cite></p>
        </dd>
        <dd>
            <cite>
                zhantewei@gmail.com
            </cite>
            <a class="btn btn-sm -hover-i" href="mailto:zhantewei@gmail.com">
                <i class="fa fa-envelope-o"></i>
            </a>
        </dd>

    </aside>

</footer>
