<nav class="nav bg-l fix-top nav-shd">
    <a zIndex="999" top="60" width="200" [ngz-navSide]="_main.navTp" #navSide="ngz-navSide">
    </a>
    <button *ngIf="_main._res.value=='sm'&&useSide" (click)="navSide.toggle()" class="btn nav-item">
        <i class="fa fa-navicon"></i>
    </button>
    <button routerLink=""  class="btn nav-item">Zle</button>
    <button routerLink="css" routerLinkActive="active" class="btn nav-item">Css</button>
    <button routerLink="module" routerLinkActive="active" class="btn nav-item">ngzModule</button>
</nav>

<div class="row host-container">
    <div class="col-auto col-10">
        <router-outlet (activate)="routerActivate($event)"></router-outlet>
    </div>
    <ng-template [ngIf]="useSide">
        <div class="col-2" *ngz-col-show="'lg'">
        </div>
    </ng-template>
</div>
<footer style="height:400px;" class="bg-l">

</footer>
