<my-template title0="progress-bar" [lib]="lib">
    <div class="example container">
        <ngz-progress-bar stripe="true" type="w" value="10"></ngz-progress-bar>
        <ngz-progress-bar value="30"></ngz-progress-bar>
        <ngz-progress-bar value="40" type="i" showValue="true"></ngz-progress-bar>
        <ngz-progress-bar animate="true" value="60" type="d" stripe="true" showValue="true"></ngz-progress-bar>
        <ngz-progress-bar value="70" type="s" size="sm" stripe="true" showValue="true"></ngz-progress-bar>
    </div>
    <div class="API">
        <my-api [lib]="lib.api"></my-api>
    </div>
</my-template>